body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    font-family: Arial, Helvetica, sans-serif;
    color : #b1b1b1;
    overflow: hidden;
}

.container {
    border-radius: 7px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.16);
}

.container .wrapper {
    width: 170px;
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .wrapper .case {
    height:30px;
    width:30px;
    background-color: rgb(68, 68, 68);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.16);
    transition: all ease .3s;

}


.case:hover {
    transform: scale(1.1);
    transition: all ease .3s;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p {
    color:#818181
}

button {
    border-radius: 7px;
    background-color: #e74a4a;
    border: none;
    outline: none;
    padding: 10px;
    color: #333333;
}

button:hover {
    background-color: #ca3a3a;
    cursor: pointer;
}